<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="..\logs\inner_log.txt">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <targets>
    <target 
      name="logSystem" 
      archiveEvery="Day" 
      archiveFileName = "../../../../logs/{########}.log" 
      archiveDateFormat = "yyyyMMdd" 
      archiveNumbering = "Date" 
      xsi:type="File" 
      fileName="../../../../logs/${shortdate}_log.txt" 
      layout="${newline}${time} | ${level:uppercase=true} | ${message}">
    </target>
    <target 
      name="logUserBehavior" 
      xsi:type="File"
      layout="${message}"
      fileName="../../../../logs/User/log.txt">
    </target>

  </targets>

  <rules>
    <logger name="logSystem" minlevel="Debug" writeTo="logSystem" />
    <logger name="logUserBehavior" minlevel="Debug" writeTo="logUserBehavior" />
  </rules>
</nlog>
